<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
    function autocomplete(inp, arr) {
        var currentFocus;
        inp.addEventListener("input", function(e) {
            var a, b, i, val = this.value;
            closeAllLists();
            if (!val) { return false;}
            currentFocus = -1;
            a = document.createElement("DIV");
            a.setAttribute("id", this.id + "autocomplete-list");
            a.setAttribute("class", "autocomplete-items");
            this.parentNode.appendChild(a);
            for (i = 0; i < arr.length; i++) {
                if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                    b = document.createElement("DIV");
                    b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
                    b.innerHTML += arr[i].substr(val.length);
                    b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                    b.addEventListener("click", function(e) {
                        inp.value = this.getElementsByTagName("input")[0].value;
                        closeAllLists();
                    });
                    a.appendChild(b);
                }
            }
        });
        inp.addEventListener("keydown", function(e) {
            var x = document.getElementById(this.id + "autocomplete-list");
            if (x) x = x.getElementsByTagName("div");
            if (e.keyCode == 40) {
                currentFocus++;
                addActive(x);
            } else if (e.keyCode == 38) {
                currentFocus--;
                addActive(x);
            } else if (e.keyCode == 13) {
                e.preventDefault();
                if (currentFocus > -1) {
                    if (x) x[currentFocus].click();
                }
            }
        });
        function addActive(x) {
            if (!x) return false;
            removeActive(x);
            if (currentFocus >= x.length) currentFocus = 0;
            if (currentFocus < 0) currentFocus = (x.length - 1);
            x[currentFocus].classList.add("autocomplete-active");
        }
        function removeActive(x) {
            for (var i = 0; i < x.length; i++) {
                x[i].classList.remove("autocomplete-active");
            }
        }
        function closeAllLists(elmnt) {
            var x = document.getElementsByClassName("autocomplete-items");
            for (var i = 0; i < x.length; i++) {
                if (elmnt != x[i] && elmnt != inp) {
                    x[i].parentNode.removeChild(x[i]);
                }
            }
        }
        document.addEventListener("click", function (e) {
            closeAllLists(e.target);
        });
    }

    window.onload = function () {
        let citiesNames = localStorage.getItem('citiesNames');
        if (citiesNames != null){
            autocomplete(document.getElementById("geo_from"), JSON.parse(localStorage.getItem("citiesNames")));
            autocomplete(document.getElementById("geo_to"), JSON.parse(localStorage.getItem("citiesNames")));
            return;
        }

        let xhr = new XMLHttpRequest();
        let hostname = location.hostname;
        xhr.open('POST', 'http://' + hostname + ':8080/load_cities', true);
        xhr.setRequestHeader('Access-Control-Allow-Origin', '*');
        xhr.setRequestHeader('Access-Control-Allow-Methods', 'POST');
        xhr.setRequestHeader("Access-Control-Allow-Headers", "Origin, X-Requested-With, Content-Type, Accept");
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.onload = function () {
            if (xhr.status === 200) {
                let data = JSON.parse(xhr.responseText);
                console.log(data);
                localStorage.setItem("citiesNames", JSON.stringify(data));
                autocomplete(document.getElementById("geo_from"), JSON.parse(localStorage.getItem("citiesNames")));
                autocomplete(document.getElementById("geo_to"), JSON.parse(localStorage.getItem("citiesNames")));
            }
        }
        xhr.send();
    }


    function sendData(){
        let xhr = new XMLHttpRequest();
        let hostname = location.hostname;
        xhr.open('POST', 'http://' + hostname + ':8080/find_tickets', true);
        xhr.setRequestHeader('Access-Control-Allow-Origin', '*');
        xhr.setRequestHeader('Access-Control-Allow-Methods', 'POST');
        xhr.setRequestHeader("Access-Control-Allow-Headers", "Origin, X-Requested-With, Content-Type, Accept");
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.onload = function () {
            if (xhr.status === 200) {
                let data = JSON.parse(xhr.responseText);
                console.log(data);
                showTickets(data);
            }
        }

        let origin = document.getElementById("geo_from").value;
        let destination = document.getElementById("geo_to").value;
        let originDate = document.getElementById("date_from").value;
        let destinationDate = document.getElementById("date_to").value;

        let messageStr = "{" +
            " \"origin\" : \"" + origin + "\" ," +
            " \"destination\" : \"" + destination + "\" ," +
            " \"originDate\" : \"" + originDate + "\" ," +
            " \"destinationDate\" : \"" + destinationDate + "\"" +
            "}";
        console.log(messageStr);
        xhr.send(messageStr);
    }

    function showTickets(data){
        let resultContainer = document.getElementById("search_result");
        for (let i = 0 ; i < data.length; i++){
            let ticketData = data[i];
            let ticketTo = ticketData[0];
            let ticketBack = ticketData[1];
            let ticketContent = `
                <div class="result_content">
                    <div>
                        <p>
                            ${ticketTo['arrivalCountry']}.${ticketTo['arrival']} -> ${ticketTo['departureCountry']}.${ticketTo['departure']}
                        </p>
                    </div>
                    <div>
                        <p>
                            ${ticketTo['arrivalDate']}.${ticketTo['arrivalHour']} -> ${ticketTo['departureDate']}.${ticketTo['departureHour']}
                        </p>
                    </div>
                    <div>
                        ${ticketTo['price']}
                    </div>
                </div>

                `;
            resultContainer.insertAdjacentHTML('beforeend', ticketContent);
        }
    }

</script>

<style>
    .result_content{
        border: 1px solid #000000;
        padding: 10px;
        display: inline-block;
        vertical-align: top;
        border-radius: 10px;
        margin: 5px;
    }
    .block{
        min-height: 250px; 
        height: auto; 
        width: 50vw; 
        background-color: #6c7dc7;
        padding-left: 50px; 
        padding-top: 20px; 
        color: rgb(0, 0, 0);
        font-weight: bold;
        font-size: 1.2vw; 
    }
    input{
        border-radius: 20px;
        margin: 5px 0 0 1vw;
        width: auto;
        text-align: center;
        color: black;
        min-width: 7vw;
        height: 27px;
    }
    button{
        width: 10%; 
        float: right;
        width: 10vw;
        height: 70px; 
        margin: 5px 0 0 1vw;
        border-radius: 40px;
        color: rgb(255, 255, 255);
        background-color: green;
        font-weight: bold;
        font-size: 1.2vw;
    }
</style>

<body>
<div class="block">
    <div class="head" style="display: flex; text-align: center;">
        <div id="geo" style="display: flex;">
            <div id="from">
                <label>Откуда</label><br>
                <input type="text" id="geo_from" placeholder="Москва">
            </div>
            <div id="to">
                <label>Куда</label><br>
                <input type="text" id="geo_to" placeholder="Москва">
            </div>

        </div>

        <div id="date" style="display: flex; margin-left: 30px;">
            <div id="from">
                <label>Дата вылета</label><br>
                <input type="date" id="date_from">
            </div>
            <div id="to">
                <label>Дата обратно</label><br>
                <input type="date" id="date_to">
            </div>

        </div>
    </div>

    <div class="prehead" style="padding-left: 15px; width: 40vw;">
        <div class="someInfo">
            <button onclick="sendData()">Найти</button>
            <div id="replace">
                <label>Максимальное число пересадок:</label>
                <input type="text" id="que_replace" placeholder="1">
            </div>
            <div id="cost">
                <label>Максимальная цена:</label>
                <input type="text" id="max_cost" style="margin-left: 140px;" placeholder="10000">
            </div>
        </div>
        
    </div>
</div>

<div id = "search_result"></div>
</body>

</html>